* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

body {
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #121212;
}

.wrapper {
  width: 1440px;
  height: 960px;
  background-color: #FFF;
}
.wrapper .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 0 0 230px;
  position: absolute;
}
.wrapper .section__img {
  width: 505px;
  height: 330px;
  background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1400.jpg");
  background-position: center;
  background-size: cover;
}
.wrapper .section__content {
  width: 380px;
  height: 250px;
  margin-left: 95px;
}
.wrapper .section__content-title {
  font-size: 42px;
  line-height: 120%;
  margin-bottom: 24px;
}
.wrapper .section__content-text {
  width: 380px;
  height: 96px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
}
.wrapper .section__content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 40px;
  gap: 10px;
  background-color: #E4C1AE;
  border: none;
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFF;
  cursor: pointer;
}
.wrapper .popup {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .alert__content {
  width: 920px;
  height: 210px;
  background-color: #FFF;
  position: relative;
}
.wrapper .alert__title {
  padding: 56px 0px 24px 95px;
  font-size: 42px;
  line-height: 120%;
}
.wrapper .alert__text {
  padding-left: 95px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}
.wrapper .alert__text span {
  font-weight: bold;
}
.wrapper .alert i {
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 1100px;
    height: 730px;
  }
  .wrapper .section {
    padding: 60px 0 0 142px;
  }
  .wrapper .section__img {
    width: 460px;
    height: 260px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1394.jpg");
  }
  .wrapper .section__content {
    width: 290px;
    height: 190px;
    margin-left: 75px;
  }
  .wrapper .section__content-title {
    font-size: 32px;
    margin-bottom: 18px;
  }
  .wrapper .section__content-text {
    width: 310px;
    height: 94px;
    margin-bottom: 22px;
    font-size: 14px;
  }
  .wrapper .section__content-btn {
    font-size: 14px;
  }
  .wrapper .popup .alert__content {
    width: 750px;
    height: 180px;
  }
  .wrapper .popup .alert__title {
    padding: 42px 0px 20px 75px;
    font-size: 32px;
  }
  .wrapper .popup .alert__text {
    padding-left: 75px;
    font-size: 14px;
  }
  .wrapper .popup .alert i {
    padding: 5px;
    top: 30px;
    right: 30px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 992px;
    height: 700px;
  }
  .wrapper .section {
    padding: 50px 0 0 120px;
  }
  .wrapper .section__img {
    width: 420px;
    height: 250px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1002.jpg");
  }
  .wrapper .section__content {
    width: 280px;
    height: 180px;
    margin-left: 65px;
  }
  .wrapper .section__content-title {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .wrapper .section__content-text {
    width: 290px;
    height: 72px;
    margin-bottom: 24px;
    font-size: 12px;
  }
  .wrapper .section__content-btn {
    font-size: 14px;
  }
  .wrapper .popup .alert__content {
    height: 160px;
  }
  .wrapper .popup .alert__title {
    font-size: 28px;
  }
  .wrapper .popup .alert__text {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 768px;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .wrapper .section__img {
    margin-top: 50px;
    width: 350px;
    height: 200px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg");
  }
  .wrapper .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 160px;
    margin-top: 45px;
    margin: 50px 0;
  }
  .wrapper .section__content-title {
    font-size: 26px;
    margin-bottom: 14px;
  }
  .wrapper .section__content-text {
    width: 290px;
    height: 72px;
    margin-bottom: 30px;
  }
  .wrapper .section__content-btn {
    font-size: 12px;
  }
  .wrapper .popup .alert__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 600px;
    height: 260px;
  }
  .wrapper .popup .alert__title {
    padding: 0;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .wrapper .popup .alert__text {
    padding: 0;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 375px;
    height: 600px;
  }
  .wrapper .section__img {
    width: 320px;
    height: 180px;
    background-image: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg");
  }
  .wrapper .popup .alert__content {
    width: 350px;
    height: 200px;
  }
}/*# sourceMappingURL=main.css.map */